@import "../../vars.css";


  .container {
    background-image: linear-gradient(#cf9dcf, #6b53b8);
    display: flex;
    height: 134px;
    align-items: center;
    color: var(--color-text);
    justify-content: space-evenly;
    width: 100%;
  }

  .imageWrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding-inline-start: 0%;
    width: 100%;

  }
  
  .image {
    align-items: center;
  }

  
  @media screen and (max-width: 830px) {
    .container {
      align-items: center;
      justify-content: space-around;
      height: 500px;
    }
  
    .imageWrapper {
      width: 100%;
      flex-direction: column;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 34px;
    } 
  }